$gray: #797979;

.editor {
  @apply relative block mb-6 bg-white;

  > textarea {
    @apply pb-2 w-full resize-none text-base;
    min-height: 200px;

    &::placeholder {
      color: $gray;
    }
  }
}

.error {
  @apply absolute -bottom-5 left-0 w-full text-prymary;
  font-size: 0.75rem;
}